<% if user_signed_in? %>
<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="well">
    <div class="col-md-1 votes">
      <%= link_to like_post_path(post), method: :put do %>
        <i class="fa fa-lg fa-caret-up" id="caret"></i>
      <% end %>
      <h2><%= post.votes_for.count %></h2>
    </div>
    <div class="col-md-8">
      <h2><%= link_to post.title, post_path(post) %></h2>
      <small class="author">Submitted by <%= post.user.username %> <%= time_ago_in_words(post.created_at) %> ago</small>
    </div>
    <div class="col-md-3">
      <a href="/posts/<%= post.id %>">
        <%= image_tag post.image.url(:image_index), class: "image-index" %>
      </a>
    </div>
  </div>
  <% end %>
  </div>
</div>
<% else %>
<div class="col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <h1>Welcome to Halloween!</h1>
    <p>Vote for your best houses!</p>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
    <% @posts.each do |post| %>
    <div class="well">
    <div class="col-md-1 votes">
      <%= link_to like_post_path(post), method: :put do %>
        <i class="fa fa-lg fa-caret-up center"></i>
      <% end %>
      <h2><%= post.votes_for.count %></h2>
    </div>
    <div class="col-md-8">
      <h2><%= link_to post.title, post_path(post) %></h2>
      <small class="author">Submitted by <%= post.user.username %> <%= time_ago_in_words(post.created_at) %> ago</small>
    </div>
    <div class="col-md-3">
      <a href="/posts/<%= post.id %>">
        <%= image_tag post.image.url(:image_index), class:"image-index" %>
      </a>
    </div>
  </div>
  <% end %>
  </div>
<% end %>
